/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
@use "./scss/font" as _font;
// https://vuetifyjs.com/features/sass-variables/`
@forward "vuetify/settings" with (
    // Vô hiệu hóa các gói màu
    $color-pack: false,
    // Vô hiệu hóa các lớp tiện ích
    $utilities: false,
    //
    $body-font-family: _font.$font-family-custom !default
);
